# Virtual Environments
venv/
.venv/
env/
ENV/

# Python / Pyache files
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/
build/
dist/
*.egg-info/

# Google Cloud & ADK Temp Directories
tmp/
/tmp/cloud_run_deploy_src/
.adk/

# Environment Variables & Secrets
*.env
*.json
!package.json

# IDE Settings
.idea/
*.swp
*.swo

# Logs
*.log
config.bat
node_modules
